.dashboardWrapper {
  width: 80%;
  margin: 10px auto;
}

.usersTopTable {
  background-color: white;
  height: 370px;
  width: 100%;
}

.monthlyPointsChange {
  display: flex;
  align-items: center;
}

.pointsGreen {
  color: lightgreen;
}

.pointsRed {
  color: red;
}

.topUsername {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.usersTopTable .usersTopTableTitle {
  background-color: rgb(240, 243, 245);
}
