.topbar {
  background-color: white;
  height: 60px;
  padding: 10px;
}

.topbarWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 30px;
}

.topbarAvatarWrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.topbarIcon {
  margin-left: 10px;
}

.topbarAvatar {
  margin-left: 10px;
  margin-right: 10px;
}

.hamubergerMenu {
  font-display: flex;
  align-self: center;
  padding-left: 20px;
  transition: all 0.2ms ease-out;
}

.hamubergerMenu:hover {
  transform: scale(1.1);
  cursor: pointer;
}
