.topbar {
  background-color: white;
  height: 60px;
  padding: 10px;
}

.topbarWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 30px;
}

.topbarAvatarWrapper {
  display: flex;
  align-items: center;
}

.topbarIcon {
  margin-left: 10px;
}

.topbarAvatar {
  margin-left: 10px;
  margin-right: 10px;
}
