.menuTileWrapper {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  color: rgb(120, 130, 146);
  text-decoration: none;
}

.menuTileIconTitle {
  display: flex;
  align-items: center;
}

.menuTileIcon {
  margin-right: 10px;
}

.menuTileWrapper:hover {
  background-color: rgb(48, 57, 75);
  border-left: 3px solid rgb(45, 197, 139);

  color: white;
}

.menuTileWrapper.active {
  color: white;
  background-color: rgb(48, 57, 75);
  border-left: 3px solid rgb(45, 197, 139);
}

.menuTileWrapper .activeMobile {
  color: white;
  background-color: rgb(45, 197, 139);
}

.menuTileWrapperMobile {
  display: flex;
  align-items: center;
  color: rgb(120, 130, 146);
  text-decoration: none;
}

/* .menuTileWrapperMobile:hover {
  background-color: rgb(45, 197, 139);
  cursor: pointer;
  color: white;
} */
