.storesWrapper {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.storesTitle {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addButton {
  display: flex;
  padding: 10px;
  color: white;
  border-radius: 10px;
  transition: all 0.2 ease-in-out;
  cursor: pointer;
}

.addButton:hover {
  transform: scale(1.1);
}

.storesTable {
  background-color: white;
  height: 400px;
  width: 100%;
  max-width: 800px;
}

.backButtonWrapper {
  transition: all 0.2 ease-in-out;
  cursor: pointer;
}

.backButtonIcon:hover {
  color: rgb(45, 197, 139);
  transform: scale(1.1);
}
