.storeDetailsWrapper {
  background-color: white;
  padding: 100px;

  border-radius: 15px;
}

.formContainer {
  margin: 0 auto;
  width: 600px;
  max-width: 1200px;
}

.storeDetailsForm {
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.storeDetailsButtons {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.storeDetailsEditButton {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-right: 15px;
  position: relative;
  cursor: pointer;
  width: 100px;
  border-radius: 15px;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}

.loadingButton {
  opacity: 0.5;
}

.storeDetailsGreenButton {
  background-color: rgb(110, 192, 160);
  color: white;
}

.storeDetailsWhiteButton {
  background-color: rgba(245, 173, 173, 0.849);
  border-color: black;
  color: black;
}

.storeDetailsEditButton:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 600px) {
  .storeDetailsWrapper {
    padding: 20px;
    width: 400px;
  }
  .storeDetailsEditButton {
    width: 70px;
  }
}
