* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainPage {
  background-color: rgb(240, 243, 245);
}

.fullHeight {
  height: calc(100vh - 60px);
}

.mainPage {
  padding: 20px;
  overflow: scroll;
  margin-bottom: 10px;
}
